{% load filters %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title id="page_title"> commprod | {{ page_title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- analytics -->
        <script type="text/javascript">
            var seg=seg||[];seg.load=function(a){var b,c,d,e,f,g=document;b=g.createElement("script"),b.type="text/javascript",b.async=!0,b.src=a,c=g.getElementsByTagName("script")[0],c.parentNode.insertBefore(b,c),d=function(a){return function(){seg.push([a].concat(Array.prototype.slice.call(arguments,0)))}},e=["init","identify","track","callback","verbose"];for(f=0;f<e.length;f+=1)seg[e[f]]=d(e[f])};seg.load(document.location.protocol+'//d47xnnr8b1rki.cloudfront.net/api/js/v2/segmentio.js');

            seg.init('l37wedvl0ut'); // commprod's very own API key
            //seg.verbose(true); // remove this in production to turn off logging
            seg.identify("{{ user.email }}" == "" ? "anonymous_user":"{{ user.email }}", 
                {
                'class_year': '{{ user.profile.class_year }}' == "" ? "none":'{{ user.profile.class_year }}'
                }
            )
        </script>

        <!--  styles -->

        {% include_style "bootstrap.min" %}
        {% include_style "bootstrap-responsive" %}
        {% include_style "base" %}
        {% block styles %} {% endblock%}
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="shortcut icon" href="/public/favicon.ico">
    </head>

    <body>

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner nav_bg">
                <div class="container">
                    <a class="brand" href="/">
                        a
                        <img class="logo" src="/public/img/btb-logo.png"/>
                        comm.prod 
                    </a>
                    {% if user.is_authenticated %}
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="nav-collapse">
                        <ul class="nav topbar">
                            <li class={{ nav_commprod }}>
                                <a href="/">comm.prod</a>
                            </li>
                            
                            <li class={{ nav_profile }}>
                                 <a id="user_prof" href=/users/{{user.username}}>Profile </a>
                            </li>
                        </ul>
                        <ul class="nav pull-right topbar">
                            <li>
                                <form id="navbar-search" class="navbar-search">
                                    <input type="search" id="search_bar" class="search-query" placeholder="Find people..." autocomplete="off">
                                </form>
                            </li>
                            <li class="divider-vertical"></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            Account
                                            <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                         <a href="/edit">
                                            <i class="icon-wrench"></i> 
                                            Edit Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a data-toggle="modal" href="#send-feedback-modal" >
                                            <i class="icon-envelope"></i> 
                                            Send Feedback
                                        </a>
                                    </li>
                                        {% if user.is_authenticated %}
                                            <li class="divider"></li>
                                            <li>
                                                <a href={% url django.contrib.auth.views.logout %}> Logout </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                    {% endif %}
                </div>
            </div>
        </div>
        {% block subnav %}
        {% endblock %}
        <div class="container wrapper">
            {% block content %} {% endblock%}
            <div class="push"></div>
        </div> <!-- /container -->


    <div id="footer">
        <div class="navbar footer">
            <div class="navbar-inner nav_bg">
                <div class="container">
                        <ul class="nav pull-right">
                            <li>
                                <a href="http://github.com/cantbloom">
                                    A CantBloom Project
                                </a>
                            </li>
                            <li> <a>|</a> </li>
                            <li>
                                <a href="mailto:avianap@mit.edu">
                                    Avi Ideas
                                </a>
                            </li>
                            <li> <a>|</a> </li>
                            <li>
                                <a data-toggle="modal" href="#send-feedback-modal">
                                    Contact
                                </a>
                            </li>
                            <li> <a>|</a> </li>
                            <li>
                                <a href="twitter.com/cantbloom">
                                    @cantbloom
                                </a>
                            </li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
        <!--  javascript --> 

        {% include "send_feedback.html" %}
        {% include "commprod/claim_email.html" %}

        {% include_script 'user_list' %}
        {% include_script 'lib/jquery.min' %}

        <!--  helpers -->
        {% include_script 'lib/filepicker' %}
        {% include_script 'lib/jquery.raty.min' %}
        {% include_script 'lib/mobile_detection' %}
        {% include_script 'lib/es5-shim.min' %}
        <!--  graphing -->
        {% include_script 'lib/highcharts' %}

        <!--  bootstrap -->
        {% include_script 'lib/bootstrap-transition' %}
        {% include_script 'lib/bootstrap-alert' %}
        {% include_script 'lib/bootstrap-modal' %}
        {% include_script 'lib/bootstrap-dropdown' %}
        {% include_script 'lib/bootstrap-tab' %}
        {% include_script 'lib/bootstrap-tooltip' %}
        {% include_script 'lib/bootstrap-popover' %}
        {% include_script 'lib/bootstrap-button' %}
        {% include_script 'lib/bootstrap-collapse' %}
        {% include_script 'lib/bootstrap-typeahead' %}

        {% include_script 'base' %}
        {% include_script 'analytics' %}

        {% block scripts %} 
        {% endblock %}
    </body>
</html>
