
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title id="page_title">{{ page_title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!--  styles -->
        {% load staticfiles %}
        <link href="/public/css/bootstrap.min.css" rel="stylesheet">
        <link href="/public/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="/public/css/base.css" rel="stylesheet">
        {% block styles %} {% endblock%}
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="shortcut icon" href="/public/favicon.ico">
    </head>

    <body>

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner nav_bg">
                <div class="container">
                    <a class="brand" href="/">
                        a
                        <img class="logo" src="/public/img/btb-placeholder.png"/>
                        comm.prod 
                    </a>
                    {% if user.is_authenticated %}
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class={{ home }}>
                                <a href="/">Home</a>
                            </li>
                            <li class={{ popular }}>
                                <a href="/popular">Popular</a>
                            </li>
                            <li class={{ recent }}>
                                <a href="/recent">Recent</a>
                            </li>
                            <li class={{ profile }}>
                                 <a id="user_prof" href=/users/{{user.username}}>Profile </a>
                            </li>
                        </ul>
                        <ul class="nav pull-right">
                            <li>
                                <form class="navbar-search  ">
                                    <input type="text" class="search-query" placeholder="Find people...">
                                </form>
                            </li>
                            <li class="divider-vertical"></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            Account
                                            <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                         <a href="/">
                                            <i class="icon-wrench"></i> 
                                            Edit Profile
                                        </a>
                                    </li>
                                    <li>
                                         <a href="mailto:cantbloom@mit.edu">
                                            <i class="icon-envelope"></i> 
                                            Send Feedback
                                        </a>
                                    </li>
                                        {% if user.is_authenticated %}
                                            <li class="divider"></li>
                                            <li>
                                                <a href={% url django.contrib.auth.views.logout %}> Logout </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="container wrapper">
            {% block content %} {% endblock%}
        {% if is_paginated %}{% load paginator %}{% paginator 3 %}{% endif %}
        <!-- <div class="push"></div> -->
        </div> <!-- /container -->

        <!-- <div class="navbar footer">
            <div class="navbar-inner">
                <div class="container pull-right">
                        <ul class="nav">
                            <li>
                                <a href="http://github.com/cantbloom">
                                    A CantBloom Project
                                </a>
                            </li>
                            <li> <a>|</a> </li>
                            <li>
                                <a href="mailto:avianap@mit.edu">
                                    Avi Ideas
                                </a>
                            </li>
                            <li> <a>|</a> </li>
                            <li>
                                <a href="mailto:cantbloom@mit.edu">
                                    Contact
                                </a>
                            </li>
                            <li> <a>|</a> </li>
                            <li>
                                <a href="twitter.com/cantbloom">
                                    @cantbloom
                                </a>
                            </li>
                        </ul>
                </div>
            </div>
        </div> -->
        <!--  javascript leave everything imported for dev,
        cleanup for production--> 
        <script src="https://api.filepicker.io/v0/filepicker.js"></script>
        <script src="/public/js/lib/jquery.min.js"></script>
        
        <script src="/public/js/lib/jquery.raty.min.js"></script>
        <script src="/public/js/lib/bootstrap-transition.js"></script>
        <script src="/public/js/lib/bootstrap-alert.js"></script>
        <script src="/public/js/lib/bootstrap-modal.js"></script>
        <script src="/public/js/lib/bootstrap-dropdown.js"></script>
        <script src="/public/js/lib/bootstrap-scrollspy.js"></script>
        <script src="/public/js/lib/bootstrap-tab.js"></script>
        <script src="/public/js/lib/bootstrap-tooltip.js"></script>
        <script src="/public/js/lib/bootstrap-popover.js"></script>
        <script src="/public/js/lib/bootstrap-button.js"></script>
        <script src="/public/js/lib/bootstrap-collapse.js"></script>
        <script src="/public/js/lib/bootstrap-carousel.js"></script>
        <script src="/public/js/lib/bootstrap-typeahead.js"></script>
         <!-- Adds the Filepicker.io javascript library to the page -->

         
        {% block scripts %} 
        {% endblock %}
    </body>
</html>
