<!-- latest jquery and compatibility code -->
{% include_script 'lib/jquery-1.11.1.min' %}
{% include_script 'lib/jquery-migrate-1.2.1.min' %}
{% include_script 'lib/jquery.cookie-1.4.1' %}

<!--  helpers -->
{% include_script 'lib/filepicker' %}
{% include_script 'lib/jquery.raty.min' %}
{% include_script 'lib/mobile_detection' %}
{% include_script 'lib/es5-shim.min' %}
{% include_script 'basket' %}

<!--  graphing -->
{% include_script 'lib/highcharts' %}

<!--  bootstrap -->
{% include_script 'lib/bootstrap-transition-2.0.4' %}
{% include_script 'lib/bootstrap-alert-2.0.4' %}
{% include_script 'lib/bootstrap-modal-2.0.4' %}
{% include_script 'lib/bootstrap-dropdown-2.0.4' %}
{% include_script 'lib/bootstrap-tab-2.0.4' %}
{% include_script 'lib/bootstrap-tooltip-2.0.4' %}
{% include_script 'lib/bootstrap-popover-2.0.4' %}
{% include_script 'lib/bootstrap-button-2.0.4' %}
{% include_script 'lib/bootstrap-collapse-2.0.4' %}
{% include_script 'lib/bootstrap-typeahead-2.0.4' %}
{% include_script 'lib/bootstrap-tour-2.0.4' %}

{% include_script 'base' %}
{% include_script 'analytics' %}

<!-- stripe -->
<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
