<div class="commprod-timeline well">
    {% for commprod in commprods %}
        {% include "commprod.html" with commprod=commprod%}
    {% endfor %}
</div>

<ul class="pager">
    {% if commprods.has_previous %}
   <li class="previous"> 
        <a href="?page={{ commprods.previous_page_number }}">
            &larr; previous
        </a>
    </li>
    {% endif %}

    {% if commprods.has_next %}
    <li class="next">
        <a href="?page={{ commprods.next_page_number }}">
            next &rarr; 
        </a>
    </li>
    {% endif %}
</ul>