<!--commprod variable should ref commprodd model -->
<div id="commprod_{{commprod.id}}" class='row commprod-container' data-id="{{commprod.id}}">
	<div class="author-container">
		<img class="author-pic" src="{{ commprod.user_profile.pic_url }}"/>
		<span class="author-name">
			{% if commprod.user_profile.user.is_active and not commprod.user_profile.user.first_name == ''%}	
			{{ commprod.user_profile.user.first_name }} {{ commprod.user_profile.user.last_name}}
			{% else %}
			{{commprod.user_profile.user.username}}
			{% endif %}
		</span>
		<div class="vote-container" style="float:right">
			<span class='score'>{{commprod.avg_score}}</span>
			<span class="raty-container" data-id="{{commprod.id}}" data-rating="{{commprod.avg_score}}"> </span>
		</div>
	</div>
	<div class="commprod-content">
		a btb <b>"{{ commprod.commprod_content }}"</b> comm.prod
	</div>
	<div class="commprod-footer">
		<span class="date">{{commprod.date}}</span>
	</div>
</div>