{% extends "base.html" %}
{% block styles %}
    <link href="/public/css/edit_profile.css" rel="stylesheet">
{%  endblock %}

{% block content %}
<h1 class="span4 offset5">{{page_title}}</h1>
<div class="accordion span6 offset3 well" id="accordion2">
    <div class="accordion-group" >
      <div class="accordion-heading">
        <b>
          <a class="accordion-toggle links" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            Change your password
          <i class="icon-chevron-down pull-right arrow"></i>
          </a>
        </b>
      </div>
      <div id="collapseOne" class="accordion-body in collapse" style="height: 0px;">
        <div class="accordion-inner">
        <form id="password">
            <div class="alert"></div>
            <input type="hidden" name="form_type" value="password">
            {% for input in password %}
                <p><input type="password" placeholder="{{input.placeholder}}" name="{{input.name}}" id="id_{{input.name}} "></p>
            {% endfor %}
                <input class="btn btn-warning" type="submit" value="Save" id="password_save"/>
        </form>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <b>
          <a class="accordion-toggle links" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            Add/remove shirt name
            <i class="icon-chevron-down pull-right arrow"></i>
          </a>
        </b>
      </div>
      <div id="collapseTwo" class="accordion-body in collapse" style="height: 0px;">
        <div class="accordion-inner">
            <form id="shirt_name">
                <div class="alert"></div>
                <input type="hidden" name="form_type" value="shirt_name">
                {% for input in shirtname %}
                    <p><input type="text" class="removable_input" placeholder="{{input.placeholder}}" name="{{input.name}}" value="{{input.value}}"><a class="btn remove-input remove-shirt-name"><i class="icon-minus"></i></a></p>
                {% endfor %}
                    <p id=""><a id='add-shirt-name' class="btn"><i class="icon-plus"></i> Add another shirtname</a></p>
                    <input class="btn btn-warning" type="submit" value="Save" id="shirt-name-save"/>
            </form>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <b>
          <a class="accordion-toggle links" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
            Add alternative emails
            <i class="icon-chevron-down pull-right arrow"></i>
          </a>
      </b>
      </div>
      <div id="collapseThree" class="accordion-body in collapse" style="height: 0px;">
        <div class="accordion-inner">
            <form id="email">
                <div class="alert"></div>
                <input type="hidden" name="form_type" value="email">
                {% for input in email %}
                    <p><input type="text" value="{{input.value}}" class="disabled" disabled></p>
                {% endfor %}

                <p id=""><a id='add-email' class="btn" ><i class="icon-plus"></i> Add another email</a></p>
                <input class="btn btn-warning" type="submit" value="Save" id="email-save"/>
            </form>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <b>
          <a class="accordion-toggle links" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
            Change profile image
            <i class="icon-chevron-down pull-right arrow"></i>
          </a>
      </b>
      </div>
      <div id="collapseFour" class="accordion-body in collapse" style="height: 0px;">
        <div class="accordion-inner">
          <form id="pic">
              <div class="alert"></div>
              <input type="hidden" name="form_type" value="profile_pic">

              <input type='hidden' name='profile_url' id='id_pic_url'>
              <img id="profile_pic" class="icon" src="{{ user.profile.pic_url }}">
              
              <input class="btn" name="upload" id="upload" type="button" value="Edit profile picture"/>
              <input class="btn btn-warning" type="submit" value="Save" id="profile-pic-save"/>
            </form>
        </div>
      </div>
    </div>
</div>
{%  endblock %}

{% block scripts %} 
<script src="/public/js/edit_profile.js"></script>
{% endblock %}