{% extends "base.html" %}
{% block styles %}
    <link href="/public/css/edit_profile.css" rel="stylesheet">
{%  endblock %}

{% block content %}
<h1 class="page-title">{{page_title}}</h1>
<div class="accordion span6 offset3" id="accordion2">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
          Change password
        </a>
      </div>
      <div id="collapseOne" class="accordion-body in collapse" style="height: auto; ">
        <div class="accordion-inner">
        <form id="password-form">
            {% for input in password %}
                <p><input type="text" placeholder="{{input.placeholder}}" name="{{input.name}}" id="id_{{input.name}} "></p>
            {% endfor %}
                <input class="btn btn-warning" type="submit" value="Save" id="password_save"/>
        </form>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
          Add/remove shirt name
        </a>
      </div>
      <div id="collapseTwo" class="accordion-body in collapse">
        <div class="accordion-inner">
            <form id="shirt-name-form">
                {% for input in shirtname %}
                    <p><input type="text" class="removable_input" placeholder="{{input.placeholder}}" name="{{input.name}}" value="{{input.value}}"><a class="btn remove-input remove-shirt-name"><i class="icon-minus"></i></a></p>
                {% endfor %}
                    <p id=""><a id='add-shirt-name' class="btn" href="#"><i class="icon-plus"></i> Add another shirtname</a></p>
                    <input class="btn btn-warning" type="submit" value="Save" id="shirt-name-save"/>
            </form>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
          Add alternative emails
        </a>
      </div>
      <div id="collapseThree" class="accordion-body in collapse">
        <div class="accordion-inner">
            <form id="password-form">
                {% for input in email %}
                    <p><input type="text" value="{{input.value}}" disabled></p>
                {% endfor %}

                <p id=""><a id='add-email' class="btn" href="#"><i class="icon-plus"></i> Add another email</a></p>
                <input class="btn btn-warning" type="submit" value="Save" id="shirt-name-save"/>
            </form>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
          Change profile image
        </a>
      </div>
      <div id="collapseFour" class="accordion-body in collapse">
        <div class="accordion-inner">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
</div>
{%  endblock %}

{% block scripts %} 
<script src="/public/js/edit_profile.js"></script>
{% endblock %}