{% extends "base.html" %}

{% block content %}

<div class="hero-unit span5 offset3" style="background-color:#DDD;">
    <p> 
    Looks like an error.
   </p>
  <h1 id="hero"> {% block hero_title %} {% endblock%} {{ hero_msg_title }} </h1>
  {% block hero_content %} 
   <p> 
    Head back <a href="/"> home</a> or <a href="mailto:cantbloom@mit.edu"> email us </a> if this is a bug.
   </p>
   {% endblock %}
</div>



{% endblock %}
{% block helper %}
<script type="text/javascript">
  $(document).ready(function() {
    var error_val = $("#hero").text(); 
    $('#page_title').html(error_val + " Error");
    $('#user_prof').attr("href", "/");
  });

</script>
{% endblock %}
