{% extends "base.html" %}
 

{% block styles %}
    <link href="/public/css/login.css" rel="stylesheet">
{%  endblock %}
{% block content %}
<div id="login_container" class="span3 offset4">
	<div class="row">
		<div id="top_secret"> </div>
	</div>
	<div class="row">
		<form id="login" method="post" action="{% url django.contrib.auth.views.login %}">
			{% csrf_token %}
			{% if form.errors %}
					<div class="alert alert-error">
						Your username and password didn't match. <br> <strong> Please  try again.
					</div>
			{% else %}
				
			{% endif %}

			{{ form.username }}
			{{ form.password }}
			<br>
			<input class="btn btn-warning" type="submit" value="Login" />

			<input type="hidden" name="next" value="{{ next }}" />
		</form>
	</div>

</div>

{% endblock %}
{% block scripts %} 
<script type="text/javascript">
	$(document).ready(function() {
		$('#id_username').attr('placeholder', 'Username');
		$('#id_password').attr('placeholder', 'Password');
		$('#page_title').html("Bomber Login");
	});
	
</script>

{% endblock %}