{% load gravatar %}

<!-- Top nav bar (logo, blog, comm.prod, runner, profile, donate) -->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner nav-bg">
        <div class="container-fluid">
            <a class="brand" href="/">
                a <img class="logo" src="/public/img/btb-logo.png"/> comm.prod
            </a>
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="nav-collapse">
                <ul class="nav topbar">
                    <li class={{ nav_blog }}>
                        <a href="http://blog.burtonthird.com">Blog</a>
                    </li>
                {% if user.is_authenticated %}
                    <li class={{ nav_commprod }}>
                        <a href="/">comm.prod</a>
                    </li>

                    <li class={{ nav_runner }}>
                        <a href="/runner">runner</a>
                    </li>

                    <li class={{ nav_profile }}>
                        <a id="user_prof" href=/users/{{user.username}}>Profile</a>
                    </li>
                    <li class={{ nav_donate }}>
                         <a href="/donate">Donate</a>
                    </li>
                    <li>
                        <form id="navbar-search" class="navbar-search">
                            <input type="search" id="search_bar"
                              class="search-query" placeholder="Find people..."
                              autocomplete="off"> 
                        </form>
                    </li>
                </ul>

                <!-- pulldown options bar for logged in users -->
                <ul class="nav pull-right topbar">
                    <li id="account_dropdown" class="dropdown {{ nav_account }}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{% gravatar_for_user user 24 %}" class="nav-prof-img">
                            {{user.username}} <i class="icon-cog icon-white"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/users/{{user.username}}">
                                    <i class="icon-user"></i>
                                    My Profile
                                </a>
                            </li>
                            <li>
                                <a href="/edit">
                                    <i class="icon-wrench"></i>
                                    Settings
                                </a>
                            </li>
                            <li>
                                <a data-toggle="modal" href="#send-feedback-modal" >
                                    <i class="icon-envelope"></i>
                                    Send Feedback
                                </a>
                            </li>

                            <!-- TODO: My Cart -->
                                
                            <li class="divider"></li>
                            <li>
                                <a href={% url django.contrib.auth.views.logout %}> Logout </a>
                            </li>
                            </ul>
                        </li>

                {% else %}
                    <li class={{ nav_donate }}>
                         <a href="/donate">Donate</a>
                    </li> 
                    <li>
                        <a href="/login"> Login </a>
                    </li>
                {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
