{% extends "base.html" %}
{% block content %}
<style type="text/css">
.alert {margin: 0px !important;}
</style>

<div class='span4 offset4'>
    <div class="alert {% if errors %} alert-error {% else %}   alert-success {% endif %}">
    <span class="response_text"> 
    {% if errors %}
    {{ errors|safe }}
    {% else %}
    {{ success|safe }}
    <br> <a href="/" class="btn btn-primary"> Back to login <a/>
    {% endif %}
    </span>
    </div> 
</div>
{%  endblock %}

{% block helper %}
{% endblock %}