<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li class={{ subnav_statistics }}>
          <a href="/users/{{profile_user.username}}"> <i class="icon-list-alt icon-white"></i>Statistics</a>
        </li>
        <li class={{ subnav_best }}>
          <a href="?type=best"><i class="icon-heart icon-white"></i>Best</a>
        </li>
        <li class={{ subnav_worst }}>
          <a href="?type=worst"><i class="icon-remove icon-white"></i> Worst</a>
        </li>
        <li class={{ subnav_recent }}>
          <a href="?type=recent"><i class="icon-time icon-white"></i>Recent</a>
        </li>
        <li class={{ subnav_media }}>
          <a href="?type=recent"><i class="icon-play icon-white"></i> Media</a>
        </li>
      </ul>
    </div>
  </div>
</div>