{% extends "base.html" %}


{% block styles %}
    <link href="/public/css/registration.css" rel="stylesheet">
{%  endblock %}
{% block content %} 
    <h1 id="reg-header-text" class=" span6 offset3 center-text">We just need a little more information before you can use the site...</h1>
    <div id="reg_div">
        <div class="row">
            <div id='known-info' class="span4 offset4">
                <p> <strong> Username: </strong> {{ user.username }} </p>
                <p> <strong> Email: </strong> {{ user.email }} </p>
            </div>
        </div>
        {% if form.errors %}
        <div class='row'>
            <div class='form-errors span4 offset4 alert alert-error'>
                <h2 class=""> Errors </h2>
                <div class=''>
                {% for key, value in form.errors.items %}
                    <ul>
                        {% for v in value %}
                            <li>{{ key }} :{{ v }} </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        <div class='row'>
            <div class="span4 offset4 form">
                <form id="reg-form" method='post' action='/register/{{ user.profile.activation_key }}/' >
                    {{ form.as_p }}
                    <input class="btn btn-warning" type="submit" value="Submit" id="submit"/>
                </form>
            </div>
        </div>

    </div>

{% endblock%}

{% block scripts %} 
<script type="text/javascript">
    $(document).ready(function() {
        $('#id_alt_email').tooltip({
            "placement" : "right",
            "title" : "Important! Put your gmail or anything you use to send emails to the floor.",
            "trigger" : "focus"
        });
        $('#id_shirt_name').tooltip({
            "placement" : "right",
            "title" : "Be Honest :)",
            "trigger" : "focus"
        });
        $('#id_password').tooltip({
            "placement" : "right",
            "title" : "Your password will be encrypted",
            "trigger" : "focus"
        });
    });
    
</script>
{% endblock %}
