{% extends "base.html" %}
{% load filters %}

{% block styles %}
{% include_style 'register' %}
{%  endblock %}

{% block content %} 
    <h2 id="reg-header-text" class=" span6 offset3 center-text">We just need a little more information...</h2>
    <div id="reg_div">
        <div class="row">
            <div id='known-info' class="span4 offset4">
                <p> <strong> Username: </strong> {{ user.username }} </p>
                <p> <strong> Email: </strong> {{ user.email }} </p>
            </div>
        </div>
        {% if form.errors %}
            {% include "snippets/form_error.html" %}
        {% endif %}
        <div class='row'>
            <div class="span4 offset4 form">
                <form id="reg-form" method='post' action='/register/{{ user.profile.activation_key }}/' >
                  {{ form.as_p }}
                   {% csrf_token %}
                    <p id=""><a id='add-email' class="btn" href="#"><i class="icon-plus"></i> Add another alternate email</a></p>
                    <img id="profile_pic" class="author-pic" src="/public/img/placeholder.jpg">
                    <input class="btn" name="upload" id="upload"type="button" value="Edit profile picture"/>
                    <div class="alert alert-info">
                    <button class="close" data-dismiss="alert">×</button>
                    <strong> Heads up! </strong> Add shirt names on the Edit Profile page.
                    </div>
                    <input class="btn btn-warning" type="submit" value="Register and Login" id="submit"/>
                </form>
            </div>
        </div>

    </div>

{% endblock%}

{% block scripts %}
{% include_script 'register' %}
{% endblock %}
