{% extends "snippets/hero_err_template.html" %}

{% block hero_content %}
    <p><strong>Forgot your password?</strong></p>
    <p> No problem, give us your username here and we'll hook it up. </p>
    <p>
        <form id="username" data-url="/reset_password">
            {% csrf_token %}
            {% include 'snippets/alert_box.html' %}
            </br>
            <p>
            <input type="text" placeholder="Username" name="username" value="">
            </p>
            <input class="btn btn-warning btn-large" data-loading-text="Loading..." type="submit" id='username-save' value="Submit"/>
            <p>
            Forgot your username? <a href="mailto:commprod@mit.edu">contact us</a> <a class="btn btn-primary" href="/"> Back to login </a>
            </p>
       </form>
    </p>

{%  endblock %}

{% block helper %}
{% endblock %}

{% block scripts %}

<script type="text/javascript">
$(function(){
    $('form').find('.alert').slideUp(0);

    $('form').submit(submitForm);
    
});
</script>
{% endblock %}
