.form {
    padding:25px !important;
}

.controls {
    margin:5px 0px;
}

.amount-input {
    margin-bottom:14px;
}

.anon-input {
    margin-bottom:14px;
}

.pay-with-btn {
    margin-bottom: 0px;
}

#id_amount {
    text-align: right;
}