{% extends "base.html" %}
{% load filters %}


{% block styles %}
  {{ block.super }}
  {% include_style 'donations/donate' %}
{% endblock %}

{% block content %}
    {% if form.errors %}
        {% include "snippets/form_error.html" %}
    {% endif %}
    <!-- to display errors returned by createToken -->
    <div class='row'>
        <div class="span3 offset1">
            {% include "donations/donation_stats.html" %}
        </div>
        <div class="span4">
            <span class="payment-errors alert alert-error hidden"></span>
            <form id="payment-form" class="form" method='POST' action='/donations/donate/'>

                <h3 class="centered"> Donate to Burton Third </h3>
                {% csrf_token %}
                {% if user.is_authenticated %}
                    {% include 'donations/donate_form.html' with form=form anon=False %}
                {% else %}
                    {% include 'donations/anon_donate_form.html' with form=form anon="True" %}
                {% endif %}
                <script src="https://checkout.stripe.com/v2/checkout.js"></script>
                <p class="pay-with-btn"> 
                    <button id="customButton" class="btn btn-primary btn-large">Pay with Card</button>
                </p>
            </form>
        </div>
        <div> 
            <div class="row span2 offset5"> 
                {% if user.is_authenticated %}
                <a class="btn btn-primary btn-large" href="/donations">
                    Past Donations
                </a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock%}

{% block scripts %}
  <script type="text/javascript">
    var stripe_public_key = "{{ stripe_public_key }}";
    var card_info = "{{ user.profile.stripe_customer_id }}" != "no_id";
  </script>
  {% include_script 'donations/donate' %}
{% endblock %}
