{% extends "base.html" %}
{% load filters %}

{% block styles %}
{% include_style 'donations/donate' %}
{% endblock %}

{% block content %}
    {% if form.errors %}
        {% include "snippets/form_error.html" %}
    {% endif %}
    <!-- to display errors returned by createToken -->
    <div class='row'>
        <span class="payment-errors alert alert-error span4 offset4 hidden"></span>
        <form id="payment-form" class="form form-inline span4 offset4" method='POST' action='/donations/donate/' >
            {% csrf_token %}
            <p class="controls">
                <label class="control-label" for="id_reason">Reason:</label>
                {{ form.reason }}
            </p>
            <p class="input-prepend controls input-append">
                <label class="control-label" for="id_message">Amount:</label>
                <span class="add-on">$</span>{{ form.amount }}<span class="add-on">.00</span>
            </p>
            <p class="controls">
                <label class="control-label" for="id_is_anonymous">Anonymous Donation?</label>
                {{ form.is_anonymous }}
            </p><hr/>
            <p class="controls">
                <input type="text" size="20" autocomplete="off" class="card-number" placeholder="Card Number"/>
            </p>
            <p class="controls">
                <input type="text" size="4" autocomplete="off" class="card-cvc" placeholder="CVC"/>
            </p>
            <p class="controls input-prepend controls input-append">
                <label class="control-label">Expiration </label>
                <input type="text" size="2" class="card-expiry-month" placeholder="MM"/><span class="add-on">/</span><input type="text" size="4" class="card-expiry-year input-small" placeholder="YYYY"/>
            </p>
            <p class="controls">
                <label class="control-label" for="id_save_card">Save Card?</label>
                {{ form.save_card }}
            </p>
            <p>
                <input class="btn btn-primary submit-button" type="submit" value="Donate!"/>
            </p>
        </form>
    </div>
    <div class="row span2 offset5"> 
        <a class="btn btn-primary btn-large" href="/donations" >
            Past Donations
        </a>
    </div> 

{% endblock%}

{% block scripts %}
    {% include_script 'donations/donate' %}
{% endblock %}