{% extends "snippets/hero_err_template.html" %}
{% load humanize %}

{% block hero_title %} Success! {% endblock%}
{% block hero_content %} 
    <p> 
        You just dontated <strong> ${{ amount|intcomma }}.00 </strong> for <strong> {{ reason }}</strong>. Thanks!
    </p>
    <p> 
        {% if user.is_authenticated %}
        Back to  <a href="/donations" class="btn btn-primary">Donation Home</a>
        {% else %}
            Visit our <a href="http://blog.burtonthird.com" class="btn btn-primary">Blog</a>
        {% endif %}
    </p>
{% endblock %}