{% load humanize %}
{% load gravatar %}

<div id="{{ donation.id }}" class='row commprod-container'>
    <div class="author-container">
        {% if donation.is_anonymous %}
            <a class="author-name" href='/'>
            <img class="author-pic" src="/public/img/placeholder.jpg"/>
            <strong> Donation by: </strong>
            {% if donation.user_profile %}
                Anonymous
            {% else %}
                {{ donation.name }}
            {% endif %}
        </a>
        {% else %}
        <a class="author-name" href='/users/{{ donation.user_profile.user.username }}'>
            <img class="author-pic" src="{% gravatar_for_user donation.user_profile.user 40 %}"/>
            <strong> Donation by: </strong>
            {% if donation.user_profile.user.is_active and not donation.user_profile.user.first_name == ''%}
                {{ donation.user_profile.user.first_name }} {{ donation.user_profile.user.last_name }}
            {% else %}
                {{ donation.user_profile.user.username }}
            {% endif %}
        </a>
        {% endif %}
        <div class="vote-container pull-right">
            <span class='score donation-amount'> 
                ${{ donation.amount|intcomma }}.00
            </span>
        </div>
    </div>
    <div class="commprod-content">
        Donated for: {{ donation.reason }}
    </div>
    <div class="commprod-footer">
        <span class="date"> {{ donation.date }} </span> 
    </div>
</div>