{% extends "base.html" %}
{% load humanize %}

{% block content %}
    <div class="row">
        <div class="span3 offset1">
            <div> 
                <a class="btn btn-primary btn-large" href="/donations/donate" >
                    Make Donation
                </a>
            </div>
            {% include "donations/donation_stats.html" with tot_donations=tot_donations sum_donations=sum_donations %}
        </div>

        <div class="commprod-timeline-container span7">
            <h1 class="centered"> {{ page_title|capfirst }} </h1>
            {{ donation_timeline }}
        </div>
    </div>

{% endblock %}
