{% extends "shell.html" %}
{% load filters %}

{% block styles %}
  {% include_style "bs3/bootstrap-3.2.0.min" %}
  {% include_style "bs3/wrap" %}
  {% include_style "bs3/navbar" %}
  {% include_style "bs3/base" %}
  {% include_style "runner/whhg" %}
  {% include_style "runner/runner-home" %}
{% endblock %}

{% block navbar %}
  {% include "nav_bar_bs3.html" %}
{% endblock %}

{% block content %}
<div class='row runner-content'>

  <!-- construction.jpg -->
  <!--<img src='http://www.straight-p.com/run/images/stories/under-construction.jpg'/>-->

  {% include "runner/my_cart.html" %}

  <div class='catalog col-xs-8'>
    <div class='title'><h1>Catalog</h1></div>

    <!-- search bar and feeling lucky -->
    <div class='row'>
      <div class='drink-search col-md-8 col-xs-12'>
        <form role='form'>
          <input class='form-control input-lg' id='drink-search-form' type='text'
          placeholder='Find drinks..' autocomplete="off">
        </form>
      </div>
      <div class='col-md-4 col-xs-12'>
        <button id='feeling-lucky' type='button' class='btn btn-default btn-lg
          col-xs-12'>I'm Feeling Lucky</button>
      </div>
    </div>

    <!-- everything else is populated dynamically -->

  </div>

  <div class='col-xs-1'></div>

</div>
{% endblock %}

{% block scripts %}
  <!-- latest jquery and compatibility code -->
  {% include_script "lib/jquery-1.11.1.min" %}
  {% include_script "lib/jquery.cookie-1.4.1" %}

  {% include_script "lib/underscore-1.6.0.min" %}
  {% include_script "lib/bootstrap-3.2.0.min" %}

  <script type="text/javascript">
    BEERRUN_DATA = {};
    BEERRUN_DATA.categories = {{ categories|safe }};
    BEERRUN_DATA.allDrinks = {{ all_drinks|safe }};
    BEERRUN_DATA.myDrinks = {{ my_drinks|safe }};
    BEERRUN_DATA.run = {{ run|safe }};
    STATIC_PREFIX = "/runner";
  </script>

  {% include_script "runner/green_tea" %}
{% endblock %}
