{% extends 'base.html' %}
{% load filters %}

{% block content %}
<div class="row top-container">
    <h2 class="span4 offset5"> Add commprod (s) below </h2>
</div>

<div class="container span4 offset4 well">
    <form id="admin">
        {% include 'alert_box.html' %}
        <label><b> From:</b></label>
        <input id="email" class="input-xlarge" name="email" type="email">
        <label><b> Date: </b> </label>
        <input id= 'datetime' name="datetime" class="input-xlarge" type="datetime" />
        <label><b> Subject: </b> </label>
        <input id='subject' type="text" name="subject" class="input-xlarge"/>
        <label> <b> Email content: </b> </label>
        <textarea id="content" name="content" class="input-xlarge" ></textarea>
        <label> <b> Commprod Content: </b> </label>
        <textarea name="commprod" class="commprod input-xlarge"></textarea>
        <a id='add-commprod' class="btn">
            <i class="icon-plus"></i> Add commprod
        </a> <br><br>
        <button type="submit" data-loading-text="Saving..." class="btn btn-primary">Submit</button>
        <input type="hidden" id="key" value="{{ key }}"/>
    </form>
</div>
{% endblock %}

{% block scripts %}
{% include_script 'commprod/admin' %}
{% include_script 'lib/date' %}
{% endblock %}