<div class="modal fade hide" id="claim-email-modal" data-email="">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Are you sure you want to claim <span class="replace-email"></span>?</h3>
  </div>
  <div class="modal-body">
    <p>We'll send an email to <span class="replace-email"></span> to confirm you are the owner of that email.</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    <a id="email-claim-confirm" class="btn btn-primary">Yes!</a>
  </div>
</div>