{% load trim %}
{% load humanize %}
{% load gravatar %}
{# assignment for commprod timeline #}

<div id="{{ obj_type }}_object_{{ commprod.id }}" class='row commprod-container {{ obj_type }}' data-id="{{ commprod.id }}" data-type='{{ obj_type }}'>
	<div class="author-container">
		<a class="author-name" href="/users/{{ commprod.user_profile.user.username }}">
			<img class="author-pic" src="{% gravatar_for_user commprod.user_profile.user 40 %}"/>
			{% if obj_type == "correction" %}
			<strong> Correction by: {{ commprod.user_profile.user.username }} </strong> 
			{% elif commprod.user_profile.user.is_active and not commprod.user_profile.user.first_name == ''%}
			{{ commprod.user_profile.user.first_name }} {{ commprod.user_profile.user.last_name }}
			{% else %}
			{{ commprod.user_profile.user.username }}
			{% endif %}
		</a>
		{% if commprod.user_profile.send_mail == 0 %}
		<button class="claim-profile btn btn-mini btn-primary" data-user="{{ commprod.user_profile.user.username }}"> Claim Profile</button>
		{% endif %}
		<div class="vote-container pull-right">
			<div class="up-down-container" data-id="{{ commprod.id }}">
				<div class="vote up-vote {{ upvote_selected }}"></div>
				<div class="vote down-vote {{ downvote_selected }}"></div>
			</div>
			<span class='score' data-score="{{ commprod.score }}"> {{ commprod.score|intcomma }} </span>
		</div>
	</div>
	<div id="{{ obj_type }}_object_{{ commprod.id }}_content" class="commprod-content">
		a btb <b>"{% if commprod.media %}{{ commprod.media_content|safe }}
		{% else %}{{ commprod.content|safe }}{% endif %}"</b> comm.prod {# remove the annoying spaces surrounding the commprods by scrunching the text here #}
	</div>
	<div class="commprod-footer">
		{% if obj_type == 'correction' %}

		{% else %}
		<span class="date"> {{ commprod.date }} <a class="permalink" href="/commprod/{{ commprod.user_profile.user.username }}/{{ commprod.id }}" title='{{ commprod.email_content.subject }}' data-content='{{ commprod.email_content.content|linebreaks|trim  }}'>Details <span class="tour"></span> </a> </span> 
			{% if commprod.id in favorites %}
				<i class="fav icon-star"> </i>
			{% else %}
				<i class="fav {% if fav_selected %} icon-star {% else %} icon-star-empty {% endif %}"> </i>
			{% endif %}
		{% endif %}
	</div>
</div>