<div class="modal hide" id="correction_modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Enter your correction below...</h3>
    
    <div class="alert alert-block fade in hide" id="submit_warning">
        <h4 class="alert-heading">Are you <em> sure </em> you want to submit?</h4>
        <p>Looks like you put "btb" or "comm.prod" in your submisison. We add these tags in so only continue if these are really needed...</p>
        <p>
          <a id="submit_checked" class="btn btn-warning">Send it!</a> <a id="edit_again" class="btn" href="#">Edit Again</a>
        </p>
    </div>
  </div>
    <div class="modal-body">
        <b class="correction_wrapper"> a btb </b>
        <textarea id="corrected_text" rows="3"> {{ commprod.commprod_content }}</textarea>
        <b class="correction_wrapper"> comm.prod </b>
        <div class="commprod-container">
        <div class="author-container">
            <b class="author-name"> Original Email:</b>
            <div class="commprod-content">
                {{ commprod.email_content }}
            </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a id="submit_correction" class="btn btn-primary">Submit changes</a>
  </div>
</div>

{% block helpers %}
<script type="text/javascript">
    commprod_data = {
        'cp_id' : {{ commprod.id }},
        'username' : '{{ commprod.user_profile.user.userame }}'
    };
</script>
<script src="/public/js/commprod/correction.js"></script>
{% endblock %}