{% extends "base.html" %}
{% load filters %}

{% block subnav %}
{% endblock%}

{% block content %} 
<div class="row top-container">
	{% include "commprod/subnav.html"%}
	<div class="commprod-timeline-container span8">
		<h1 class="centered">{{page_title}}</h1>
		<div class="commprod-timeline well">
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %} 

<script type="text/javascript">
        data = {  
			username: "{{ user_profile.user.username }}",
			commprods: []
      		}
</script>

{% include_script 'commprod/home' %}        
{% endblock %}