{% extends "base.html" %}
{% load filters %}

{% block content %} 
<div class="row">
	{% include "commprod/subnav.html" %}
	<div class="commprod-timeline-container span7">
		<h1 class="centered">{{page_title}}</h1>
		<div class="commprod-timeline well">
			<div class="loading-container">
				<img class="loading" src='/public/img/loading.gif'/>
			</div> 
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %} 

<script type="text/javascript">
        data = {  
			username: "{{ user_profile.user.username }}",
			commprods: []
      		}
</script>

{% include_script 'commprod/home' %}        
{% endblock %}