{% extends "base.html" %}

{% block subnav %}
{% include "commprod/subnav.html"%}
{% endblock%}

{% block content %} 
<h1 class="offset2">{{page_title}}</h1>
<div class="row">
	<div class="span6 offset3">
		<div class="commprod-timeline well">


		</div>
	</div>
</div>
{% endblock %}

{% block scripts %} 

<script type="text/javascript">
        data = {  
        			username: "{{user_profile.user.username}}",
        			commprods: {{unvoted_commprods}}
      		}
</script>
<script src="/public/js/commprod/home.js"></script>         
{% endblock %}