{% extends 'base.html' %}
{% load filters %}

{% block styles %}
{% include_style 'commprod/permalink' %}
{% endblock %}

{% block content %}

<div class="row">
    {% include "success_popup.html" %}
    <div class="pull-right"> 
        <a class="btn btn-primary" data-toggle="modal" href="#correction_modal" >
            Submit Correction
        </a>

    </div>
</div>
<div class="well prod_well">

    {{ rendered_commprod|safe}}
    <div id="correction_container">
        {% for correction in corrections %}
            {{ correction }}
        {% endfor %}
    </div>
    <div class="commprod-container">
        <div class="author-container">
        <strong class='author-name'> Original Email: </strong>
        <div class="commprod-content">
            <p> <strong> Subject: </strong> {{ commprod.email_content.subject }}</p>
            <p> <strong> Date: </strong> {{ commprod.email_content.date }} </p>
            {{ email_content|safe|linebreaks }}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

{% include "commprod/correction.html" with commprod=commprod %}
{% endblock %}

