<div class="span2 offset1 search-nav well hidden-phone">
   <ul class="nav nav-list">
      <li class={{ subnav_home }}>
        <a href="/"><i class="icon-home"></i> Home</a>
      </li>
      <li class={{ subnav_trending }}>
        <a href="search?type=trending"><i class="icon-signal"></i> Trending</a>
      </li>
      <li class={{ subnav_best }}>
        <a href="search?type=best"><i class="icon-star"></i> Best</a>
      </li>
      <li class={{ subnav_worst }}>
        <a href="search?type=worst"><i class="icon-remove"></i> Worst</a>
      </li>
      <li class={{ subnav_recent }}>
        <a href="search?type=recent"><i class="icon-time"></i> Recent</a>
      </li>
    </ul>
</div>

<div class="span2 offset1 search-nav well visible-phone">
   <ul class="nav nav-pills">
      <li class={{ subnav_home }}>
        <a href="/"><i class="icon-home"></i> Home</a>
      </li>
      <li class={{ subnav_trending }}>
        <a href="search?type=trending"><i class="icon-signal"></i> Trending</a>
      </li>
      <li class={{ subnav_best }}>
        <a href="search?type=best"><i class="icon-star"></i> Best</a>
      </li>
      <li class={{ subnav_worst }}>
        <a href="search?type=worst"><i class="icon-remove"></i> Worst</a>
      </li>
      <li class={{ subnav_recent }}>
        <a href="search?type=recent"><i class="icon-time"></i> Recent</a>
      </li>
    </ul>
</div>


<!-- <div class="subnav subnav-fixed">
    <ul class="nav nav-pills">
      <li class={{ subnav_home }}>
        <a href="/">Home</a>
      </li>
      <li class={{ subnav_trending }}>
        <a href="search?type=trending">Trending</a>
      </li>
      <li class={{ subnav_best }}>
        <a href="search?type=best">Best</a>
      </li>
      <li class={{ subnav_worst }}>
        <a href="search?type=worst">Worst</a>
      </li>
      <li class={{ subnav_recent }}>
        <a href="search?type=recent">Recent</a>
      </li>
    </ul>
</div> -->
