<li class={{ subnav_home }}>
    <a href="/"><i class="icon-home"></i> Home</a>
</li>
<li class={{ subnav_trending }}>
    <a href="search?type=trending"><i class="icon-signal"></i> Trending</a>
</li>
<li class={{ subnav_best }}>
    <a href="search?type=best"><i class="icon-heart"></i> Best</a>
</li>
<li class={{ subnav_worst }}>
    <a href="search?type=worst"><i class="icon-remove"></i> Worst</a>
</li>
<li class={{ subnav_recent }}>
    <a href="search?type=recent"><i class="icon-time"></i> Recent</a>
</li>
<li class={{ subnav_media }}>
    <a href="search?type=media"><i class="icon-play "></i> Media</a>
</li>
