<div class="commprod-timeline-container well">
    {% for commprod in commprods %}
        {% if commprod.id in upvoted %}
            {% include "commprod/commprod_template.html" with commprod=commprod upvote_selected="selected" favorites=favorites %}
        {% elif commprod.id in downvoted %}
            {% include "commprod/commprod_template.html" with commprod=commprod downvote_selected="selected" favorites=favorites %}
        {% else %}
            {% include "commprod/commprod_template.html" with commprod=commprod favorites=favorites %}
        {% endif %}

    {% endfor %}
    {% if commprods.count == '' %}
        {% include "snippets/empty_search.html" %}
    {% endif %}
</div>

{% include 'snippets/pagination.html' with objs=commprods link_mod=link_mod %}

