.logo {
	width:32px;
	height:32px;
}

.brand {
	padding-top:7px !important;
	padding-bottom:5px !important;  
}

.search-query {
	background-color:#FFFFFF !important;
}

.nav_bg{
	background: url(/public/images/bg_nav.png) repeat top left;
}

body {
	background: url(/public/images/bg_body.png) repeat top left;
	padding-top: 40px;
}

.footer {
	font-size:12px;
}

.nav {
	padding-top:2px;
}