* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -3em;
}
.footer, .push {
	height: 2em;
}

.logo {
	width:32px;
	height:32px;
}

.brand {
	padding-top:7px !important;
	padding-bottom:5px !important;  
}

.search-query {
	background-color:#FFFFFF !important;
}

.nav_bg{
	background: url(/public/img/bg_nav.png) repeat top left;
}

body {
	background: url(/public/img/bg_body.png) repeat top left;
	
}

.footer {
	font-size:12px;
}

.nav {
	padding-top:2px;
}

input:focus{
	box-shadow: 0px 0px 10px rgba(254,114,39, 0.6) !important;
}
input {
	border:none !important;
}
.form {
	background-color: #DDD;
    padding: 15px;
    border-radius: 5px;
}