#login_container {
    position:relative;
    left:30px;
}


#top_secret{
    height:200px;
    width: 200px;
    background: url(/public/img/btb_confidential.jpg);
    background-size: 200px 200px;
    margin: 10px auto;
    margin-top: 100px;
}

.login_text {
    padding-right:5px;
}