#username {
    padding:15px;
    vertical-align: center;
}

#raty-container {
    padding:15px;
}

.score_holder {
    background-color: #000;
    color: rgb(254,114,39);
    padding: 5px 5px;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    margin: 3px 10px;
    -webkit-border-radius: 3px!important;
    -moz-border-radius: 3px!important;
    border-radius: 3px!important;
}

.border {
    border:2px solid #DDD;
}

.content-containter {
    margin-bottom:50px;
}

img {
    width: 32px;
    height: 32px;
}

.statbox{
    height: 250px;
    width: 48%%;
    float:left;
    margin: 8px 1%;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    border-radius: 3px;
}

.statbox .header{
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    margin-top: 11px;
}

.statbox .footer{
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    padding-top:85px;
}

.statbox .content{
    font-size: 8em;
    font-weight: bolder;
    text-align: center;
    margin-top: 90px;
}

.timeline-shift{
    height:1px;
}