#reg-header-text{
	margin-bottom:20px;
}

#known-info{
	font-size: 1.5em;
	margin-top: 10px;
}

#reg-form input {
	width:80%;
	margin: 3px 10%;
	font-size: 1.1em;
}

ul.errorlist {
    display:none;
}

.form-errors {
	margin-right:-30px;
}

#filepicker_dialog_container {
    top:90px !important;
}

#id_pic_url {
    display:none;
}

#upload {
    width:auto !important;
    margin:0px !important;
}

#profile_pic {
    margin-left:35px;
    margin-right: 10px;
    padding:3px;
    border:1px solid #666;
    background-color:#FFFFFF;
}