#reg-header-text{
	margin-bottom:20px;
}
#reg_div {
    font-size:15px;
}

#known-info{
	font-size: 2em;
	margin-top: 10px;
}

#reg-form input {
	width:80%;
	margin: 5px 10%;
	height:1.5em;
	font-size: 1.5em;
}

ul.errorlist {
    display:none;
}

.form-errors {
	margin-right:-30px;
}