#known-info{
	font-size: 1.5em;
	margin-top: 5px;
    margin-bottom: 10px;
}

#reg-form {
    margin-bottom:0px;
}
#reg-form input {
	width:80%;
	margin: 5px 7%;
	font-size: 1.1em;
}

.alt-email>input{
    width:70%!important;
    margin: 5px 0% 5px 7%!important;
}

.remove-email{
    width: 3%;
    height: 20px;
    margin: 2%;;
}

ul.errorlist {
    display:none;
}

.form-errors {
	margin-right:-30px;
}

#filepicker_dialog_container {
    top:90px !important;
}

#id_pic_url {
    display:none;
}

#add-email{
    margin: 0px 10%;
}

#upload {
    width:auto !important;
    margin:0px !important;
}

#profile_pic {
    margin:0px 10px 5px 85px;
    padding:3px;
    border:1px solid #666;
    background-color:#FFFFFF;
}

#id_class_year{
    width:40px !important;
}